div.box {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    position: absolute;
}

div#box1{
    background: blue;
    z-index: 3;
}

div#box2{
    background: green;
    z-index: 1;
    top: 50px;
    left: 50px;
}

div#box3{
    background: yellow;
    z-index: 4;
    top: 100px;
    left: 100px;
}

div#box4{
    background: darkviolet;
    z-index: 2;
    top: 150px;
    left: 150px;
}
